<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Peliculas favoritas</h1>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container ">

      
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        <div class="col ">
          
           <div class="card shadow-sm buttonTicket">
            <div class="card-body">
              <img src="/assets/img/Black Widow.jpg" class="card-img-top">
              <h5 class="card-title">Black Widow</h5>
              <a
                href="/tickets"
                class="btn btn-outline-warning "
              >Comprar ticket</a>
                

            </div>
          </div>
        </div>
        <div class="col ">
          
           <div class="card shadow-sm buttonTicket">
            <div class="card-body">
              <img src="/assets/img/conjuring.jpg" class="card-img-top">
              <h5 class="card-title">el conjuro 3</h5>
              <a
                href="/tickets"
                class="btn btn-outline-warning "
              >Comprar ticket</a>
                

            </div>
          </div>
        </div>
        <div class="col ">
          
           <div class="card shadow-sm buttonTicket">
            <div class="card-body">
              <img src="/assets/img/spider.jpg" class="card-img-top">
              <h5 class="card-title">Spider man Homecoming</h5>
              <a
                href="/tickets"
                class="btn btn-outline-warning "
              >Comprar ticket</a>
                

            </div>
          </div>
        </div>
        <div class="col ">
          
           <div class="card shadow-sm buttonTicket">
            <div class="card-body">
              <img src="/assets/img/space.jpg" class="card-img-top">
              <h5 class="card-title">SpaceJam</h5>
              <a
                href="/tickets"
                class="btn btn-outline-warning "
              >Comprar ticket</a>
                

            </div>
          </div>
        </div>
        <div class="col ">
          
           <div class="card shadow-sm buttonTicket">
            <div class="card-body">
              <img src="/assets/img/Hitman.jpg" class="card-img-top">
              <h5 class="card-title">hitman's wife's bodyguard</h5>
              <a
                href="/tickets"
                class="btn btn-outline-warning "
              >Comprar ticket</a>
              <button
                type="button"
                class="btn btn-outline-danger "
              >Ver pelicula</button>
                

            </div>
          </div>
        </div>
        <div class="col ">
          
           <div class="card shadow-sm buttonTicket">
            <div class="card-body">
              <img src="/assets/img/fast.jpg" class="card-img-top">
              <h5 class="card-title">rapidos y furiosos 9</h5>
              <a
                href="/tickets"
                class="btn btn-outline-warning "
              >Comprar ticket</a>
              <button
                type="button"
                class="btn btn-outline-danger "
              >Ver pelicula</button>
                

            </div>
          </div>
        </div>
        <div class="col ">
          
           <div class="card shadow-sm buttonTicket">
            <div class="card-body">
              <img src="/assets/img/encanto.jpg" class="card-img-top">
              <h5 class="card-title">Encanto</h5>
              <a
                href="/tickets"
                class="btn btn-outline-warning "
              >Comprar ticket</a>
              <button
                type="button"
                class="btn btn-outline-danger "
              >Ver pelicula</button>
                

            </div>
          </div>
        </div>
        <div class="col ">
          
           <div class="card shadow-sm buttonTicket">
            <div class="card-body">
              <img src="/assets/img/free.jpg" class="card-img-top">
              <h5 class="card-title">Free Guy</h5>
              <a
                href="/tickets"
                class="btn btn-outline-warning "
              >Comprar ticket</a>
              <button
                type="button"
                class="btn btn-outline-danger "
              >Ver pelicula</button>
                

            </div>
          </div>
        </div>
        <div class="col ">
          
           <div class="card shadow-sm buttonTicket">
            <div class="card-body">
              <img src="/assets/img/scuad.jpg" class="card-img-top">
              <h5 class="card-title">The Suicide Squad</h5>
              <a
                href="/tickets"
                class="btn btn-outline-warning "
              >Comprar ticket</a>
                

            </div>
          </div>
        </div>
</main>