.margin-arriba-1 {
  margin-top: 1%;
}

.margin-arriba-3 {
  margin-top: 3%;
}

.margin-arriba-8 {
  margin-top: 8%;
}

.margin-arriba-2 {
  margin-top: 2%;
}

.margin-arriba-4 {
  margin-top: 4%;
}
.margin-arriba-5 {
  margin-top: 5%;
}

.margin-abajo-5 {
  margin-bottom: 5%;
}

.margin-abajo-3 {
  margin-bottom: 3%;
}

.margin-abajo-4 {
  margin-bottom: 4%;
}

.margin-abajo-2 {
  margin-bottom: 2%;
}
.margin-abajo-1 {
  margin-bottom: 1%;
}
.color-red {
  color: red;
}
.color-green {
  color: green;
}
.buttonTicket {
  margin: auto;
}
.margin-right {
  margin-right: 4%;
}
body {
  font-family: "Lato", sans-serif;
}

.main-head {
  height: 150px;
  background: #fff;
}

.sidenav {
  height: 100%;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 20px;
}

.main {
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}

@media screen and (max-width: 450px) {
  .login-form {
    margin-top: 10%;
  }

  .register-form {
    margin-top: 10%;
  }
}

@media screen and (min-width: 768px) {
  .main {
    margin-left: 40%;
  }

  .sidenav {
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .login-form {
    margin-top: 80%;
  }

  .register-form {
    margin-top: 20%;
  }
}

.login-main-text {
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2 {
  font-weight: 300;
}

.btn-black {
  background-color: #000 !important;
  color: #fff;
}
.aliniacion {
  align-items: center;
}
.margin-top-2 {
  margin-top: 2%;
}
